<div id="instructions"><h2>Propuesta 1 de 5</h2></div>
<div id="proposals_items">
  <ul>
  	<% @proposals.each_with_index do |proposal, index| %>
  	  <li id="proposal_<%= index + 1 %>">
  		  
  		  <div id="proposals_title">
  	      	<h3><%= index + 1 %>. <%= proposal.name %></h3>
  		  </div>
	      <div id="proposal_description">
		  		<%= raw proposal.description %>
		  </div>
  		  <div id="proposals_icon">
  		  	<%=image_tag("proposal_icon_#{index + 1}.png", :alt => "")%>
  		  </div>
        
  		  <div id="proposals_buttons">
  		  	<ul>
  		    		<li><%= link_to "Sí", "#", :class => "vote", :name => "proposal_#{index + 1}", :value => "Sí" %></li>
  		    		<li><%= link_to "No", "#", :class => "vote", :name => "proposal_#{index + 1}", :value => "No" %></li>
  		    		<li><%= link_to "Abstención", "#", :class => "vote", :name => "proposal_#{index + 1}", :value => "Abstención" %></li>					
  		  	</ul>
  		  </div>

        <br/>
  	  </li>

  	<% end %>
  </ul>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    <% for i in (2..5) %>
      $("#proposal_<%= i %>").hide();
    <% end %>
    
    $("#confirmation").hide();
    
    <% for i in (1..5) %>
      $("#proposal_<%= i %> .vote").click(function () {
        $("#proposal_<%= i %>").fadeOut("fast", function() {
          $("#proposal_<%= i + 1%>").fadeIn("fast");
        });
      });
    <% end %>

    $("#proposal_5 .vote").click(function () {
      $("#proposal_5").fadeOut("fast", function() {
        $("#proposals_items").hide();
        $("#confirmation").fadeIn("fast");
      });
    });
  });
</script>


<script type="text/javascript" charset="utf-8">
  <% for i in (1..5) %>
    $("#proposal_<%= i %> .vote").click(function () {
      var proposal = $(this).attr("name");
      var choice = $(this).attr("value");
      $("#confirmation_" + proposal + " .choice").html(choice);
    });
  <% end %>
</script>


<script type="text/javascript" charset="utf-8">
  $(function(){
    
    var crypter = $('#crypter').get(0),
        signer = {
          sign: function(vote) { return 'fake_signature' }
        };
    
    $('#send_button a').click(function(e) {
      e.preventDefault();
      $('#wait').show('slow', function(e) {
        $('.confirmation').each(function(e){
          var proposal   = $(this).attr('id');
          proposal_id    = $("#" + proposal + " input").attr("value");
          clear_vote     = $("#" + proposal + " .choice").text();
          encrypted_vote = crypter.encrypt(clear_vote) + "";
          signature      = signer.sign(encrypted_vote);
        
          $.post("votes", { "vote" : { proposal_id: proposal_id, clear_vote: clear_vote, encrypted_vote: encrypted_vote, signature: signature } })
        })
      });
    });
  
  });
</script>

<applet id="crypter" code="org.agora.verificatum.AppletVerificatum.class" archive="/lib/verificatum.jar, /lib/jgmpmee.jar" width="0" height="0"></applet>

<div id="confirmation">
  <ul>
    <% @proposals.each_with_index do |proposal, index| %>
      <li class="confirmation" id="confirmation_proposal_<%= index + 1 %>">
        <h3>
          <span class="number"><%= index + 1 %></span>
          <span class="title"><%= proposal.name %></span>
          <%= hidden_field_tag 'proposal_id', proposal.id, :id => "" %>
        </h3>
        <span class="choice"></span>
 	      <span class="change"><%= link_to "<< cambiar", "" %></span>
      </li>
    <% end %>
  </ul>
  
  <div id="send_button">
   <%= link_to "Envía tu voto", retrieve_dni_path %>
  </div>
</div>

<div id='wait' style="display:none">
  <strong>Encriptando su voto... Por favor espere.</strong>
</div>