<div id="instructions"><h2>Propuesta 1 de 5</h2></div>
<div id="proposals_items">
  <ul>
  	<% @proposals.each_with_index do |proposal, index| %>
  	  <li id="proposal_<%= index + 1 %>">
  		  
  		  <div id="proposals_title">
  	      	<h3><%= index + 1 %>. <%= proposal.name %></h3>
  		  </div>
	      <div id="proposal_description">
		  		<%= raw proposal.description %>
		  </div>
  		  <div id="proposals_icon">
  		  	<%=image_tag("proposal_icon_#{index + 1}.png", :alt => "")%>
  		  </div>
        
  		  <div id="proposals_buttons">
  		  	<ul>
  		    		<li><%= link_to "Sí", "#", :class => "vote", :name => "proposal_#{index + 1}", :value => "0" %></li>
  		    		<li><%= link_to "No", "#", :class => "vote", :name => "proposal_#{index + 1}", :value => "1" %></li>
  		    		<li><%= link_to "Abstención", "#", :class => "vote", :name => "proposal_#{index + 1}", :value => "2" %></li>					
  		  	</ul>
  		  </div>

        <br/>
  	  </li>

  	<% end %>
  </ul>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {

    <% for i in (2..5) %>
      $("#proposal_<%= i %>").hide();
    <% end %>
    
    $("#confirmation").hide();
    
    <% for i in (1..5) %>
      $("#proposal_<%= i %> .vote").click(function () {
        $("#proposal_<%= i %>").fadeOut("fast", function() {
          $("#proposal_<%= i + 1%>").fadeIn("fast");
        });
      });
    <% end %>

    $("#proposal_5 .vote").click(function () {
      $("#proposal_5").fadeOut("fast", function() {
        $("#proposals_items").hide();
        $("#confirmation").fadeIn("fast");
      });
    });
  });
</script>


<script type="text/javascript" charset="utf-8">
  <% for i in (1..5) %>
    $("#proposal_<%= i %> .vote").click(function () {
      var proposal = $(this).attr("name");
      var choice = $(this).attr("value");
      $("#confirmation_" + proposal + " .choice").html(choice);
    });
  <% end %>
</script>


<script type="text/javascript" charset="utf-8">
    String.prototype.startsWith = function(str) {
        return this.match("^" + str) == str;
    }

    function async_exception(className, description) {
        if (className == "java.security.ProviderException"
            && description == "Initialization failed") {
            // No card reader
            // TODO: java applet seems to need to be restarted to work
            $('#applet_info').html("NO CARD READER " + className + ": " + description);

        } else if (className == "java.security.KeyStoreException" &&
            description == "PKCS11 not found") {
            // No card inside the card reader
            $('#applet_info').html("NO CARD " + className + ": " + description);

        } else if (className == "java.security.ProviderException" &&
            description == "sun.security.pkcs11.wrapper.PKCS11Exception: CKR_GENERAL_ERROR") {
            // User didn't want to sign the vote!
            $('#applet_info').html("USER DID NOT WANT TO SIGN " + className + ": " + description);

        } else if (className == "org.agora.VotingApplet$PinCancelledByUser") {
            // User didn't want to sign the vote!
            $('#applet_info').html("USER CANCELLED TO WRITE PIN" + className + ": " + description);

        } else if (className == "java.security.InvalidKeyException" &&
            description.startsWith("No installed provider supports this key:")) {
            // TODO: Java applet needs to be reestarted, applet does not allow
            // to be reused, apparently
            $('#applet_info').html("INVALID KEY " + className + ": " + description);

        } else {
            $('#applet_info').html("Unknown error " + className + ": " + description);
        }
    }
    function async_update(code, description) {
        $('#applet_info').html(code + ": " + description);
    }
  
  $(function(){

    var applet = $('#java_applet').get(0);
    
    $('#send_button a').click(function(e) {
      e.preventDefault();
      $('#wait').fadeIn('fast', function(e) {
        var ballotArray = [];
        $('.confirmation').map(function(e){
          var proposal    = $(this).attr('id');
          var proposal_id = $("#" + proposal + " input").attr("value");
          var vote        = $("#" + proposal + " .choice").text();
          
          ballotArray[ballotArray.length] = vote;
          ballotArray[ballotArray.length] = proposal_id;
   
        });
       applet.vote(ballotArray.join(','), location.protocol + "//" + document.domain + ":" + location.port); 
       return false;
      }); 
    });
  });
    
</script>

<applet id="java_applet" code="org.agora.VotingApplet.class" archive="lib/apache-commons-codec-1.4.jar, lib/bcprov-1.45.jar, lib/verificatum.jar, lib/agora-applet.jar" width="200" height="100">
  <param name="combined_public_key" value="<%= @combined_public_key %>">
</applet>

<div id="confirmation">
  <ul>
    <% @proposals.each_with_index do |proposal, index| %>
      <li class="confirmation" id="confirmation_proposal_<%= index + 1 %>">
        <h3>
          <span class="number"><%= index + 1 %></span>
          <span class="title"><%= proposal.name %></span>
          <%= hidden_field_tag 'proposal_id', proposal.id, :id => "" %>
        </h3>
        <span class="choice"></span>
 	      <span class="change"><%= link_to "<< cambiar", "" %></span>
      </li>
    <% end %>
  </ul>
  
  
  <div id="send_button">
   <%= link_to "Envía tu voto", retrieve_dni_path %>
  </div>
  
</div>

<div id='wait'>
  <div id="applet_info">Enviando tu voto<br />Por favor espera</div>
</div>