<h2><%= @proposal.name %></h2>

<h1>Listing votes</h1>
<style>
p {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  padding: 10px;
}
</style>

<% @votes.each do |vote| %>
  <div>
    <p>proposal_id:<%= vote.proposal_id %></p>
    <p>voter_name:<%= vote.voter_name %></p>
    <p>voter_surname1:<%= vote.voter_surname1 %></p>
    <p>voter_surname2:<%= vote.voter_surname2 %></p>
    <p>voter_cif:<%= vote.voter_cif %></p>
    <p>encrypted_vote:<%= vote.encrypted_vote %></p>
    <p>dnie_certificate:<%= vote.dnie_certificate %></p>
    <p>signed_votes:<%= vote.signed_votes %></p>
    <p>votes_signature:<%= vote.votes_signature %></p>
    <p>a_factor:<%= vote.a_factor %></p>
    <p>d_factor<%= vote.d_factor %></p>
    <p>u_factor<%= vote.u_factor %></p>
    <p>created_at:<%= vote.created_at %></p>
    <p><%# link_to 'Show', [@proposal, vote] %></p>
  </div>
<% end %>

<br />
